.center-box {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;

  button {
    margin: 1rem;
    width: 40%;
    padding: 1rem 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: 1px solid #ddd;
  }
}

.cargo-type {
  .ct-wrapper {
    text-align: center;
    margin-top: 2rem;

    .ct-item {
      width: 40%;
      padding: 0.5rem;
      margin: 1rem 0.5rem;
      display: inline-block;
      vertical-align: top;

      .ct-img-wrapper {
        width: 90%;
        height: 100px;
        display: inline-block;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .ct-label {
        margin-top: 0.5rem;
        display: block;
        font-size: 1.25rem;
      }

      .ct-sub {
        font-size: 0.85rem;
      }
    }
  }
}
